[Desktop Entry]
Version=1.0
Name=Rewind
Comment=A clean and simple system restore utility for Linux.
Exec=/opt/rewind
Icon=/opt/rewind/rewind.png
Terminal=false
Type=Application
Categories=System;

[Desktop Action AboutDialog]
Exec=rewind --about
Name=About